html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

.clear {
  clear: both;
}

.row {
  padding: 3% 6%;
  background: #eeeeee;
}

.content-area {
  margin: 0 auto;
  background: #dddddd;
}

.column {
  float: left;
  clear: none;
}